.align
{
  
  box-shadow: 2px 2px grey;
  margin:10px;
}
.App
{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}
.App h1{
  color:aliceblue;
  text-shadow: 2px 2px 4px #000000;

}
.addscale
{
  transition: transform 1s;

}
.addscale:hover{
  transform: scale(1.1);

}
